#!/usr/bin/make -f

include debian/vars.mk

%:
	echo "EXECING $@"
	dh $@


override_dh_auto_configure:
	/bin/bash debian/override_dh_auto_config.sh


override_dh_auto_install:
	/bin/bash debian/override_dh_auto_install.sh

override_dh_auto_test:
	echo "Ignoring Tests"
	/bin/true

override_dh_link:
	echo "Ignoring dh_link"
	/bin/true

override_auto_dh_build:
	echo "Ignoring dh_build"
	/bin/true

